.eco--button-switcher,
.eco--button-table-primary {
  float: right;
}

.eco--button-switcher {
  float: initial;
}

.leaflet-container {
  height: 70vh;
  margin-bottom: 2rem;
}

.eco--cctable {
  tbody {
    display: block;
    height: calc(70vh - 48px);
    overflow-y: scroll;
  }
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}
