.eco--button-table-primary {
  float: right;
  margin-top: calc(var(--eco-header-spacing) / 2);
}

.eco--form-filter {
  margin-top: calc(var(--eco-header-spacing) / 2);
}

.eco--form-table-number {
  width: 60px;
  margin-right: 0.4rem;
  height: 2em;
}

.eco--form-total {
  line-height: 48px;
  font-size: 1.6em;
}

.eco--form-submit {
  text-align: right;
}

table [data-child-row] {
  .bx--data-table-container,
  > td[colspan] {
    padding: 0 !important;
  }
}
